A:active { 
    color: #ff0;
}
A:visited { 
        color: rgb(0, 0, 0);
}
A:hover { 
    color: rgb(89, 114, 116);
}
.nav{
    height: 100%;
    font-size: 16px;
    line-height: 30px;
    font-weight: 800;
    background-color: rgb(115, 165, 190);
    font-family: Arial, sans-serif;
    color: bisque;
    font-size: 18px;
    font-weight: bold;
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    padding: unset;
}
.footer{
    align-content: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    padding: unset;
    position:absolute;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background-color: chartreuse;
}